<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise</title>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <style>
      .exercise {
        display: flex;
        flex-direction: column;
      }

      .exercise-mark.fullmarks {
        background-color: rgb(122, 194, 122);
      }

      .question {
        margin: 10px 0;        
      }

      .correct {
        color: rgb(122, 194, 122);
      }

      .wrong {
        color: rgb(180, 36, 36);
      }

      .expression {
        display: none;
      }
    </style>
    <script>
      var secondsElapsed = 0;
      var intervalId;

      function loadPreviousExerciseMarks() {
        for (var i = 0; i < localStorage.length; i++){
          var exercise_timestamp = localStorage.key(i);
          var exercise_mark_jsonstring = localStorage.getItem(exercise_timestamp);
          var exercise_mark = JSON.parse(exercise_mark_jsonstring);

          renderExerciseMark(exercise_timestamp, exercise_mark);
        }
      }

      function evaluateExercise() {
        clearInterval(intervalId);
        var exercise_timestamp = $("[name='exercise_timestamp']").val();
        var questions = $(".question");
        var mark_total = questions.length;
        var mark_correct = 0;

        questions.each(function(index) {
          var question = $(this);
          var proposition = question.find(".proposition").val();
          var answer = question.find(".answer").val();
          var result = "wrong";

          if (proposition == answer) {
            result = "correct";
            mark_correct++;
          }

          question.find(".question-result").addClass(result).html(result);
        });

        var exercise_mark = {
          "correct": mark_correct,
          "total": mark_total,
          "seconds_elapsed": secondsElapsed 
        };

        renderExerciseMark(exercise_timestamp, exercise_mark);
        saveExerciseInLocalStorage(exercise_timestamp, exercise_mark);
      }

      function renderExerciseMark(exercise_timestamp, exercise_mark) {
        var existing_rendered_exercise_mark_selector = 
          [
            "[data-exercise-timestamp='", 
            exercise_timestamp, 
            "']"
          ].join("");

        if ($(existing_rendered_exercise_mark_selector).length) {
          return;
        }

        var result_el = $("<li class=\"exercise-mark\">");
        result_el.attr("data-exercise-timestamp", exercise_timestamp);
        var mark = [ exercise_mark["correct"], exercise_mark["total"] ].join(" / ");
        result_el.html(mark + " (" + getTimerText(exercise_mark["seconds_elapsed"]) + ") ");
        if (exercise_mark["correct"] == exercise_mark["total"])
        {
          result_el.addClass("fullmarks");
        }
        $(".exercise-results").append(result_el);
      }

      function saveExerciseInLocalStorage(exercise_timestamp, exercise_mark) {
        var existing_exercise_jsonstring = localStorage.getItem(exercise_timestamp);

        if (!existing_exercise_jsonstring) {
          localStorage.setItem(exercise_timestamp, JSON.stringify(exercise_mark));
        }
      }

      function startExercise() {
        timer = $("#timer");

        intervalId = setInterval(function() {
          secondsElapsed++;
          timer.html(getTimerText(secondsElapsed));
        }, 1000);

        $(".expression").show();
      }

      function getTimerText(secondsElapsed) {
        var minutes = Math.floor(secondsElapsed / 60);
        var seconds = Math.floor(secondsElapsed % 60);
        
        return minutes + "m " + seconds + "s ";
      }

      function pauseExercise() {

      }

      $(document).ready(function() {
        loadPreviousExerciseMarks();
        $("#timer").html(getTimerText(secondsElapsed));
      });

    </script>
</head>
<body>
  <div class="exercise-timer">
    <div id="timer"></div>
    <button id="start_exercise" onclick="startExercise()">Start</button>
    <button id="pause_exercise" onclick="pauseExercise()">Pause</button>
  </div>
  <div class="exercise">
    <input type="hidden" name="exercise_timestamp" value="{{ exercise.timestamp }}" />
    {% for question in exercise.questions %}
    <div class="question">
      <span class="expression">{{ question.expression }}</span> = 
      <input type="number" name="{{ question.id }}" class="proposition" />
      <input type="hidden" value="{{ question.answer }}" class="answer" />
      <span class="question-result"></span>
    </div>
    {% endfor %}
  </div>
  <button id="submit" onclick="evaluateExercise()">Submit</button>

  <ol class="exercise-results">
  </ol>

  
</body>
</html>