<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pomodoro</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        var pomodoroIntervalInSeconds = 60 * 30;
        var intervalId;

        function startPomodoro() {
            var countDownInSeconds = pomodoroIntervalInSeconds;
            timer = $("#timer");

            intervalId = setInterval(function() {
                countDownInSeconds--;
                
                timer.html(getTimerText(countDownInSeconds));
                
                if (countDownInSeconds == 0) {
                    clearInterval(intervalId);
                    showPomodoroCompleteMessage();
                    sendPomodoroCompleteNotification();
                }

            }, 1000);
        }

        function stopPomodoro() {
            clearInterval(intervalId);
            resetInitialInterface();
        }

        function getTimerText(countDownInSeconds) {
            var minutes = Math.floor(countDownInSeconds / 60);
            var seconds = Math.floor(countDownInSeconds % 60);
            
            return minutes + "m " + seconds + "s ";
        }

        function resetInitialInterface() {
            $(".message").hide();
            $("#timer").html(getTimerText(pomodoroIntervalInSeconds));
        }

        function showPomodoroCompleteMessage() {
            $(".message").show();
        }

        function sendPomodoroCompleteNotification() {
            if (Notification.permission === "granted") {
                var notification = new Notification("Time for a break!", 
                { 
                    silent: false 
                });
            }
        }

        if (Notification.permission === "default") {
            Notification.requestPermission();
        }
        
        $(document).ready(function () {
            resetInitialInterface();
        });
        
    </script>
</head>
<body>
    <div id="timer"></div>
    <button id="start_pomodoro" onclick="resetInitialInterface();startPomodoro();">Start Pomodoro</button>
    <button id="stop_pomodoro" onclick="stopPomodoro()">Stop Pomodoro</button>
    <div class="message">Time for a break!</div>
</body>
</html>